DirectoryIndex index.php

Options -MultiViews

RewriteEngine on

RewriteRule ^home index.php
RewriteRule ^new index.php?page=new
RewriteRule ^edit index.php?page=edit
RewriteRule ^about index.php?page=about

RewriteRule ^mailbox$ index.php?page=mailbox [L,NC]
RewriteRule ^mailbox/$ index.php?page=mailbox [L,NC]
RewriteRule ^mailbox/(.*)$ index.php?page=mailbox&id=$1

RewriteRule ^list$  index.php?page=list [L,NC]
RewriteRule ^list/$ index.php?page=list [L,NC]
RewriteRule ^list/(.*)$ index.php?page=list&id=$1
RewriteRule ^list/(.*)$/w/(.*)$ index.php?page=list&id=$1&week=$1
RewriteRule ^list/(.*)$/m/(.*)$ index.php?page=list&id=$1&month=$1